@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes vibrate {
  0% { transform: translateY(0); }
  10% { transform: translateY(-10px); }
  20% { transform: translateY(10px); }
  30% { transform: translateY(-10px); }
  40% { transform: translateY(10px); }
  50% { transform: translateY(0); }
  100% { transform: translateY(0); }
}

#screen {
  animation: vibrate 0.5s linear infinite;
}